<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Eli Souza Estética</title>
	<link rel="icon" href="/js/favicon.ico">
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/estilo.css"/>
	
	<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>
<body>

    
<div>

<nav class="navbar navbar-expand-lg nav-Dark" style="background-color: #FF007f;">
  <a class="navbar-brand"href="#"> <img src="/imagem/eli souza logo.jpg" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy"></a>
  <a class="navbar-brand" style="color: white; font-family: arial; "  href="#">Eli Souza Estética</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
   
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tratamento Corporal </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Celulite</a>
          <a class="dropdown-item" href="#">Estrias</a>
          <a class="dropdown-item" href="#">Flaçidez</a>
          <a class="dropdown-item" href="#">Gordura Localizada</a>
          <a class="dropdown-item" href="#">Manchas</a>
        </div>
      </li>
      
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tratamento Facial</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Acne</a>
          <a class="dropdown-item" href="#">Desidratação</a>
          <a class="dropdown-item" href="#">Manchas no Rosto</a>
          <a class="dropdown-item" href="#">Olheiras</a>
          <a class="dropdown-item" href="#">Rejuvenicimento</a>
        </div>
      </li>
      
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produtos Especializados</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
    </ul>
   
	   <a href="/paginacadastrousuario"> 
	    
         <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
         </svg>
        
       </a>
   
   
 
    
  </div>
</nav>
</div>	
 	
  
	<div class="container my-2">
		<a th:href="@{/paginacadastrousuario}" class="btn btn-primary btn-sm mb-3">Cadastrar Usuario</a>
		<h1> Usuarios </h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Email</th>
					<th>Data Nascimento</th>
					<th>CPF </th>
					<th>Ações</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="usuario : ${listaUsuarios}">
					<td th:text="${usuario.nome}"></td>
					<td th:text="${usuario.telefone}"></td>
					<td th:text="${usuario.email}"></td>
					<td th:text="${usuario.dataNascimento}"></td>
					<td th:text="${usuario.cpf}"></td>
					<td>
					<a th:href="@{/usuarioscadastrados/{id}(id=${usuario.id})}" class="btn btn-warning">Alterar</a> 
					<a th:href="@{/excluirusuario/{id}(id=${usuario.id})}" class="btn btn-danger">Excluir</a>
					</td>       
				</tr>
			</tbody>
	
		</table>	
		
	</div>

</body>
</html>
